.EditDaily{
    text-align: center;
}

.EditDaily__body{
    background-color: rgb(232, 219, 255);
    height: 100vh;
    width: 100vw;
}

.dayNumber{
    position: absolute;
    top:5%;
    left: 5%;
    background-color: rgb(120, 63, 252);
    justify-content: center;
    width: 40vh;
    height: 7vh;
    border-radius: 0.6rem;

}
.dayNumberText{
    position: relative;
    top: 20%;
    color: white;
    font-family: "Courier New",monospace;
    font-size: 20px;

}
.dailyRow{
    margin-top: 9%;

}

.dailyCol{
    margin-right: -6%;
    /* margin-left: -5%; */
}
.backButton{
    background-color: white;
    border: none;
    border-radius: 0.6rem;
    width: 10vh;
    height: 5vh;
    /* color: rgb(120, 63, 252); */
    /* font-family: "Courier New",monospace;
    font-size: 16px; */
    position: absolute;
    left: 30%;
    top: 7%;

}

.backButtonText{
    color: rgb(120, 63, 252);
    font-family: "Courier New",monospace;
    font-size: 16px;
    position: relative;
    top: 20%
}